<% include partials/header %>
<% if (!user) { %> <h3>You must log in or register to comment on links.</h3><% } else { %>
<form role="form" method="post">
    Body: <br>
    <textarea rows="4" cols="50" name="body"></textarea> <br>
    <input type="submit" value="Submit">
</form>
<% } %>
<% include partials/footer %>